html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#app,#content {
  height: 100%;
}

.MainSite {
  height: 100%;
  #usHome {
    #searchTickets {
      form {
        #destination, #origin {
          display: inline-block;
          width: 50%;
          text-align: center;
        }
      }
      .button {
        width: 50%;
        margin: 12px auto auto auto !important;
        display: block !important;
      }
    }

    ul {
      li.flightList {
        clear:  both;
        margin: 5%;
        overflow: hidden;
        background-color: #eeeeee;
        .generalFlightInformation {
          width: 20%;
          display: inline-block;
        }
        span {
          padding: 5px;
        }
        .generalFlightDetails {
          width: 80%;
          float: right;
          text-align: center;
          display: inline-block;
          #flightDetails {
            display: inline-block;
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

#chineseSpringboard {
  float:left;
  height: 100%;
  width: 50%;
  color: white;
  background-image: url("/app/assets/taipei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#englishSpringboard {
  float: right;
  height: 100%;
  width: 50%;
  color: white;
  background-image: url("/app/assets/nyc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#content {
}
